body, html {
   background-color: gray;
   height: 100%;
}

#cardtable {
   background-color: darkgreen;
   position: relative;
   left: 380px;
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}

#videos {
   position: relative;
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}

#subscriber {
   position: absolute;
   width: 360px;
   height: 240px;
   left: 10px;
   top: 10px;
   z-index: 20;
   border: 3px solid white;
   border-radius: 3px;
}

#publisher {
   position: absolute;
   width: 360px;
   height: 240px;
   bottom: 10px;
   left: 10px;
   z-index: 20;
   border: 3px solid white;
   border-radius: 3px;
}

.hand {
   width: 200px;
   height: 270px;
   border-color: black;
   border-width: 2px;
   background-color: white;
}

#winner-banner {
   background-color: red;
   color: white;
   font-weight: bold;
   font-size: 2em;
   text-align: center;
}