body, html {
   background-color: gray;
   height: 100%;
}

#youtube {
   background-color: lightgreen;
   position: relative;
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   z-index: 15;
}
#videos {
   position: relative;
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}

#subscriber {
   opacity: 80%;
   position: absolute;
   width: 360px;
   height: 240px;
   left: 10px;
   top: 10px;
   z-index: 20;
   border: 3px solid white;
   border-radius: 3px;
}

#publisher {
   opacity: 80%;
   position: absolute;
   width: 360px;
   height: 240px;
   bottom: 10px;
   left: 10px;
   z-index: 20;
   border: 3px solid white;
   border-radius: 3px;
}